
.filter_devices {
    margin: 30px 0 20px 50px;
    margin-top: 30px;
    margin-left: 50px;
    width: 320px;
    height: 90px;
}

p, input, button .filter_devices {
    font-size: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.filter_devices_label {
    color: #8C8C8C;
}

.filter_devices_search {
    margin-top: 16px;
}

.filter_devices_search_input{
    margin-right: 20px;
    padding: 0 12px;
    width: 210px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
}

.filter_devices_search_input:focus {
    outline: none;
    border: 1.5px solid #4990E2;
}

.filter_devices_search_btn {
    width: 90px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    background: #353535;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;
}

.filter_devices_search_btn:hover {
    background: #404040;
    transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}