
.report_container {
    margin: 37px 50px;
    padding: 40px 40px 60px 40px;
    width: 900px;
    height: 660px;
    border: 1px dashed #939DA6;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.report_title {
    margin-bottom: 27px;
    line-height: 19px;
    color: #000;
}

.report_table {
    /* margin-top: 27px; */
    width: 100%;
    table-layout: fixed;
    text-align: left;
    /* border-spacing: 0 24px; */
}

.report_table th, td {
    font-size: 13px;
    line-height: 15px;
    white-space: pre-line;
}

.report_table th {
    font-weight: normal;
    color: #939DA6;
    vertical-align: top;
}

.report_table tr td:nth-child(1) {
    font-size: 16px;
    line-height: 19px;
}

.report_table tr td:last-child {
    font-size: 12px;
    line-height: 14px;
}

.report_table_head th {
    padding-bottom: 20px;
}

.report_table_head th:nth-child(1) {
    width: 14%;
}
  
.report_table_head th:nth-child(2) {
    width: 31%;
}
  
.report_table_head th:nth-child(3) {
    width: 15%;
}
  
.report_table_head th:nth-child(4) {
    width: 15%;
}

.report_table_head th:nth-child(5) {
    width: 27%;
}

.report_table_body tr {
    height: 100px;
    vertical-align: top;
}

tbody:not(:first-child) + tbody::before {
  content: '';
  display: block;
  height: 15px;
}

.report_table_body:not(tbody:last-child) td {
    border-bottom: 1px solid #E9E9E9;
}

.report_table_body td:nth-child(3) div, td:nth-child(4) div {
    display: flex;
}
.report_table_body td p {
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 15px;
}

.report_table_body div p {
    width: 50px;
}

