@font-face {
  font-family: 'TT Norms Regular';
  src: url('/src/common/fonts/TTNorms-Regular.eot');
  src: url('/src/common/fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('/src/common/fonts/TTNorms-Regular.woff') format('woff'),
  url('/src/common/fonts/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'TT Norms Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #353535;
}

body {
  margin: 0 auto;
  width: 1000px;
}

.App {
  display: flex;
  justify-items: center;
  flex-direction: column;
}